<div class="container mt-5">
    <h2>Directo a</h2>
  <div class="row">
    
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="d-flex align-items-center">
          <a class="nav-link" href="https://www.youtube.com/@InformaJunta">
            <i class="fas fa-balance-scale-left fa-4x mr-2"></i>
            
          </a>
        </div>
  
        <div class="card-body">
          <h5 class="card-title">Estudiar</h5>
          <a class="nav-link" href="#">Escolarización 2023/2024</a>
          <a class="nav-link" href="#">PASEN</a>
          <a class="nav-link" href="#">Becas de la Junta Andalucia</a>
        </div>
      </div>
    </div>
    
    
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <a class="nav-link" href="https://www.youtube.com/@InformaJunta">
          <i class='fas fa-archway fa-4x mr-2'></i></a>
          
        <div class="card-body">
          <h5 class="card-title">Trabajar</h5>
          <a class="nav-link" href="#">Renovar demanda de empleo</a>
          <a class="nav-link" href="#">Ofertas de empleo</a>
          <a class="nav-link" href="#">Oposiciones</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <a class="nav-link" href="https://www.youtube.com/@InformaJunta">
          <i class="fab fa-black-tie fa-4x mr-2"></i>
        </a>
        <div class="card-body">
          <h5 class="card-title">Tu salud</h5>
          <a class="nav-link" href="#">Cita en centros sanitarios</a>
          <a class="nav-link" href="#">Salud Responde</a>
          <a class="nav-link" href="#">Solicita nueva tarjeta</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <a class="nav-link" href="https://www.youtube.com/@InformaJunta">
          <i class="fas fa-award fa-4x mr-2"></i>
          </a>
        <div class="card-body">
          <h5>Vivienda y consulmo</h5>
          <a class="nav-link" href="#">Ayudas al alquiler</a>
          <a class="nav-link" href="#">Ayudas Plan Eco Vivienda</a>
          <a class="nav-link" href="#">Hojas de quejas</a>
        </div>
      </div>
    </div>
  </div>