<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mapa Web</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/@InformaJunta">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.twitter.com/andaluciajunta">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/andaluciajunta">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/AndaluciaJunta">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.flickr.com/photos/juntainforma">
              <i class="fab fa-flickr"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
